<div class="w-full h-screen bg-tertiary">

  <div class=" flex justify-between mx-10 py-10">

    <div><%= image_tag 'logo-vdl.png', class:'w-32 block' %></div>

    <ul class="flex space-x-2">
      <li class="flex justify-between border-black border hover:bg-black hover:text-primary transition-all items-center"><a href="" class="tracking-tighter text-nb cursor-pointer px-3 text-left">APRESENTAÇÃO</a><span class="font-win px-2">.</span></li>
      <li class="flex justify-between border-black border hover:bg-black hover:text-primary transition-all items-center"><a href="#video" class="tracking-tighter text-nb cursor-pointer px-3 text-left">MASTERCLASS</a><span class="font-win px-2">.</span></li>
      <li class="flex justify-between border-black border hover:bg-black hover:text-primary transition-all items-center"><a href="" class="tracking-tighter text-nb cursor-pointer px-3 text-left">SOBRE A VIDA DO LIVRO </a><span class="font-win px-2">.</span></li>
    </ul>
  </div>

  <div class="flex flex-col">

    <h1 class="text-center font-bold uppercase text-7xl tracking-tight mt-60">O Futuro do Livro: a revolução digital no mundo das publicações</h1>
    <div class="flex gap-6 mt-16 mx-10 items-end">
      <p class="md:w-1/3 leading-snug">Todos nós, que dedicamos a vida ao fazer e ao pensar o mundo dos livros, nos questionamos para onde caminha o futuro da mídia. Para falar sobre isso, convidei um dos maiores especialistas do mundo, John B. Thompson, professor de Cambridge e ministrante desta masterclass. </p>
      <p class="md:w-1/3 leading-snug">Entre os temas abordados estão o crescimento constante da Amazon, storytelling de marcas, novas formas de monetização e o próprio conceito do que é um livro.</p>
      <p class="md:w-1/3 leading-snug">Gostei muito do resultado, e como esse é um assunto que acredito ser urgente para nós e para o bem do nosso mercado, resolvi disponibilizar o conteúdo gratuitamente. Espero que gostem.<br> <br>Daniel Lameira</p>
    </div>

    <a href="#video" class="flex justify-center cursor-pointer"><%= image_tag 'arrow.png', class:'my-10 w-10 hover:translate-y-2 transition duration-300' %></a>

  </div>

  <div class=" bg-black py-16 px-10 w-screen" id="video">
    <div class="bg-zinc-800 w-full h-[688px] rounded-3xl border border-white flex justify-center items-center">
    <%= image_tag 'play.png', class:'opacity-60 hover:opacity-100 hover:scale-105 transition duration-300' %>
    </div>

    <div class="flex gap-6 mt-16 mx-10 items-end text-primary">
      <div class="md:w-1/3 leading-snug relative">
        <span class="text-6xl relative leading-10">JOHN B. THOMPSON</span>
        <div><span class="absolute top-[-8px] right-24 text-primary text-left leading-4 m-0">sobre<br> o professor</span></div>
      </div>
      <p class="md:w-1/3 leading-snug">John B. Thompson é professor emérito de sociologia da Universidade de Cambridge e Emeritus Fellow do Jesus College. </p>
      <p class="md:w-1/3 leading-snug">Um dos mais relevantes estudiosos da mídia na formação das sociedades modernas, é autor dos  livros Mercadores de cultura: o mercado editorial no século XXI (2013) e As guerras do livro: a revolução digital no mundo editorial (2021), publicados no Brasil pela editora Unesp.</p>
    </div>

  </div>

  <div class="flex justify-between items-center px-10 py-10 bg-primary">
    <p class="md:w-1/3 leading-snug">Vida do Livro é um curso e uma plataforma de conhecimento sobre histórias e mercado editorial. Criada em 2015, recebe em suas edições diferentes vozes que desmistificam o universo dos livros e debatem horizontes para o seu futuro.</p>
    <div class="md:w-1/3 leading-snug flex space-x-8 justify-end">
      <%= image_tag 'seiva_pb.png', class:"w-32 h-32" %>
      <%= image_tag 'logo-sonhorama.png', class:"w-32 h-32" %>
    </div>
  </div>

</div>
